<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project>
  <PropertyGroup>
    <WebPublishMethod>ZipDeploy</WebPublishMethod>
    <IsLinux>true</IsLinux>
    <ApiResourceId>/subscriptions/7868a35a-a967-4907-97a0-b8e917d660b7/resourceGroups/Api20220529175554ResourceGroup/providers/Microsoft.ApiManagement/service/Juliano/apis/ApiTakeBlip</ApiResourceId>
    <OpenApiDocumentName>v1</OpenApiDocumentName>
    <UpdateApiOnPublish>true</UpdateApiOnPublish>
    <ResourceId>/subscriptions/7868a35a-a967-4907-97a0-b8e917d660b7/resourceGroups/Api20220529175554ResourceGroup/providers/Microsoft.Web/sites/TakeBlip</ResourceId>
    <ResourceGroup>Api20220529175554ResourceGroup</ResourceGroup>
    <LaunchSiteAfterPublish>true</LaunchSiteAfterPublish>
    <SiteUrlToLaunchAfterPublish>https://takeblip.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <ProjectGuid>e66f0b43-3e66-4017-9685-d2d570fdc360</ProjectGuid>
    <PublishUrl>https://takeblip.scm.azurewebsites.net/</PublishUrl>
    <UserName>$TakeBlip</UserName>
    <_SavePWD>true</_SavePWD>
  </PropertyGroup>
</Project>